.calc {
    height: 511px;
    width: 408px;
    background-color: #808080 ;
    text-align: center;
  }
  #zero {
    height: 100px;
    background-color: #2D2D36 ;
    color: white;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
  
  }
  .float_left1 {
      border: 1px solid black;
    float: left;
    width: 100px;
    height: 80px;
    background-color: #414149  !important;
    font-size: 40px;
    color: white;
  
  }
  .float_left2 {
      border: 1px solid black;
    float: left;
    width: 100px;
    height: 80px;
    color: white;
  
    font-size: 40px;
  }
  .float_left3 {
      border: 1px solid black;
    float: left;
    width: 100px;
    font-size: 40px;
    color: white;
    height: 80px;
  }
  #acac1 {
    width: 202px;
  }
  
  #lower {
    text-align-last: end;
    font-size: 80px;
    /* padding: 13px; */
    margin-right: 33px;
  }
  .yellow{
      background-color: #FF8C00 !important;
  }
  .light{
      background-color: #616269 !important;
  }
  li{
      float: left;
      list-style-position: inside;
      list-style-type: disc;
      margin-right: -41px;
      font-size: 50px;
      color: grey;
  }